<div class="form-floater">
<%= form_for(@question, remote: true) do |f| %>
<div class="row frontpage-form">
  <div class="small-10 small-centered columns">
    <%= f.text_field :body, class: "question-input", placeholder: "Enter your question here" %>
  </div>
  <a href="#" class="enter-question"></a>
</div>
<div class="answer-choices">
  <%= f.fields_for :choices do |choice| %>
  <div class="row collapse frontpage-form init-choice-row">
    <div class="small-10 columns">
      <%= choice.text_field :description, class: "postfix round", placeholder: "Enter an answer choice" %>
    </div>
    <div class="small-2 columns">
      <a href="#" class="button postfix round add-choice success">+</a>
    </div>
  </div>
  <% end %>
</div>
<div class="frontpage-form init-choice-row">
  <%= f.submit "Create Question", class: "button round expand" %>
</div>
<% end %>
</div>
