<h2><%= @question.body %></h2>

<table>
  <tr>
    <th>User</th>
    <th>Created At</th>
    <th>Choice Selected</th>
    <th>Rating</th>
  </tr>
  <% @queries.each do |query| %>
    <tr>
      <td><%= query.user %></td>
      <td><%= query.created_at %></td>
      <td><%= query.choice.description %></td>
      <td><%= query.rating %></td>
    </tr>
  <% end %>
</table>
