<!DOCTYPE html>
<html>
<head>
  <title>DecisionMaker</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="contain-to-grid">
    <%= render 'layouts/top_bar' %>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'layouts/flash' %>
    </div>
  </div>

  <div class="row center-container">
    <div class="small-10 large-8 small-centered columns">
      <%= yield %>

  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
  </div>
</body>
</html>
