<!DOCTYPE html>
<html>
<head>
  <title>DecisionMaker</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="row">
    <div class="contain-to-grid small-12 small-centered columns">
      <%= render 'layouts/top_bar' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns flash-container">
      <%= render 'layouts/flash' %>
    </div>
  </div>
  <div class="row center-container">
    <div class="small-12 small-centered columns">
      <div class="main-content-container">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </div>
</body>
</html>
